/*-- scss:defaults --*/

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #0501E9 !default;
$indigo:  #6610f2 !default;
$purple:  #340154 !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #068194 !default;
$cyan:    #3093CF !default;

// Links
$link-color: $blue !default;
$link-decoration: underline !default;
$link-hover-color: $red !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $black !default;

// Header Navbar
$navbar-bg: $purple !default;
$navbar-fg: $white !default;

$callout-color-note: $indigo !default;