/*-- scss:defaults --*/

$white:   #ffffff !default;
$black:   #000000 !default;
$blue:    #0501E9 !default;
$indigo:  #6610f2 !default;
$purple:  #340154 !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #068194 !default;
$cyan:    #3093CF !default;

// Links
$link-color: $cyan !default;
$link-decoration: underline !default;
$link-hover-color: $red !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $black !default;

// Header Navbar
$navbar-bg: $purple !default;
$navbar-fg: $white !default;

$callout-color-note: $indigo !default;