/*-- scss:defaults --*/

$white:   #ffffff !default;
$ivory:   #f8fafc !default;
$black:   #000000 !default;
$blue:    #0501E9 !default;
$indigo:  #6610f2 !default;
$purple:  #340154 !default;
$dpurp:   #19151d !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #068194 !default;
$cyan:    #3093CF !default;

// Links
$link-color: $blue;
$link-decoration: underline;
$link-hover-color: $red;
$link-hover-decoration: underline;

// Footer
$footer-bg: $black;

// Header Navbar
$navbar-bg: $purple;
$navbar-fg: $white;

$callout-color-note: $indigo;

// Tabs
$nav-tabs-border-color:            $purple;
$nav-tabs-link-hover-border-color: $purple;
$nav-tabs-link-active-color:       $purple;
$nav-tabs-link-active-bg:          $ivory ;
$nav-tabs-link-active-border-color:$purple;

.tab-content {
  background: $ivory;
  border: 1px solid $nav-tabs-border-color;
  border-top: none;
  padding: 1rem;
  border-radius: 0 0 .375rem .375rem;
}